<div class="container">
	<h1>Nuevo Restaurant</h1>
	<div class="restaurant-image" onclick="$('#file-input').trigger('click')">
		<img id="img" width='100px' height='100px'></img>
	</div>
	
	<div class="row">
		<div class="col-sm-4">
			<h3>Datos</h3>
			<%= render 'form' %>
		</div>
		
		
	</div>
</div>